{{!< default}}

<div class="gh-container gh-padded gh-index">
    <div class="gh-postfeed">
        {{#foreach posts visibility="all"}}
            {{> "post-card"}}
        {{/foreach}}

        {{pagination}}
    </div>

    {{> "sidebar"}}
</div>
