{{!< default}}

<div class="gh-container gh-padded">
    <div class="gh-postfeed">
        {{#foreach posts visibility="all"}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
</div>

<div class="gh-container">
    <div class="gh-pagination">
        {{pagination}}
    </div>
</div>
