/* Only things that don't start with `kg-` */
.kg-image-card img {
    display: block;
    height: auto;
}

.kg-card figcaption{
    display: block;
    text-align: center;
    font-size: 80%;
    opacity: 0.6;
    margin-top: 0.4em;
    transition: opacity 0.3s ease;
}

.kg-card:hover figcaption{
    opacity: 1;
}

/* Default blockquote cards come with italic styles, I don't want these */
.kg-blockquote-alt {
    font-style: normal;
}


/* Gallery Cards
/* ---------------------------------------------------------- */

.kg-image-card:not(.kg-card-hascaption) + .kg-gallery-card,
.kg-gallery-card:not(.kg-card-hascaption) + .kg-image-card,
.kg-gallery-card:not(.kg-card-hascaption) + .kg-gallery-card {
    margin-top: var(--gallery-gap);
}

.kg-image-card.kg-card-hascaption + .kg-gallery-card,
.kg-gallery-card.kg-card-hascaption + .kg-image-card,
.kg-gallery-card.kg-card-hascaption + .kg-gallery-card {
    margin-top: calc(var(--gallery-gap) + 2vmin);
}


/* Embed cards Cards
/* ---------------------------------------------------------- */

.kg-embed-card .fitVids-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
}

.kg-embed-card .fitVids-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
