.gh-canvas {
    display: grid;
    grid-template-columns:
        [full-start]
        minmax(var(--gap), auto)
        [wide-start]
        minmax(auto, 140px)
        [main-start]
        min(660px, calc(100% - calc(var(--gap) * 2)))
        [main-end]
        minmax(auto, 140px)
        [wide-end]
        minmax(var(--gap), auto)
        [full-end];
}

.gh-canvas > * {
    grid-column: main-start/main-end;
}

.kg-width-wide {
    grid-column: wide-start/wide-end;
}

.kg-width-full {
    grid-column: full-start/full-end;
}

.kg-width-full img {
    width: 100%;
}







.gh-content {
    margin-top: 4rem;
}

@media (max-width: 899px) {
    .gh-content {
        margin-top: 2rem;
    }
}

/* Default vertical spacing */
.gh-content > * + * {
    margin-top: 5rem;
    margin-bottom: 0;
}

.gh-content .kg-card-hascaption + * {
    margin-top: 4rem;
}

.gh-content > p + ul,
.gh-content > p + ol,
.gh-content > ul + p,
.gh-content > ol + p,
.gh-content > p + pre,
.gh-content > pre + pre,
.gh-content > pre + p,
.gh-content > p + p {
    margin-top: 3rem;
    margin-bottom: 0;
}

/* [id] represents all headings h1-h6, reset all margins */
.gh-content > [id] {
    margin: 0;
}

.gh-content > .kg-card + [id] {
    margin-top: 6rem !important;
}

/* Add back a top margin to all headings, unless a heading
is the very first element in the post content */
.gh-content > [id]:not(:first-child) {
    margin-top: 6rem;
}

/* Add a small margin between a heading and anything after it */
.gh-content > :is(h1, h2, h3, h4, h5, h6) + * {
    margin-top: 1rem;
}

/* A larger margin before/after HRs and blockquotes */
.gh-content > hr,
.gh-content > blockquote {
    position: relative;
    margin-top: 4rem;
}

.gh-content > p + hr {
    margin-top: 3.5rem;
}

.gh-content > hr + *,
.gh-content > blockquote + * {
    margin-top: 4rem;
}

.gh-content ul,
.gh-content ol,
.gh-content dl {
    padding-left: 1.8rem;
}

.gh-content ul {
    list-style: disc;
}

.gh-content ol {
    list-style: decimal;
}

.gh-content li + li {
    margin-top: 0.8rem;
}

.gh-content pre {
    overflow: scroll;
    padding: 0.8em 1.2em;
    background: var(--color-code-block-bg);
    color: var(--color-code-block-text);
    border-radius: 5px;
    box-shadow: 0 2px 6px -2px rgb(0 0 0 / 10%), 0 0 1px rgb(0 0 0 / 40%);
    white-space: pre;
}

.gh-content pre code {
    display: block;
    font-size: 75%;
    color: inherit;
    background-color: transparent;
    padding: 0;
    border: 0;
}

.gh-content code {
    font-family: var(--font-mono);
    font-weight: 400;
    font-size: 75%;
    line-height: 1.8;
    color: var(--color-inline-code-text);
    background-color: var(--color-inline-code-bg);
    border: 1px solid var(--color-inline-code-bg-border);
    padding: calc(0.2em - 1px) calc(0.5em - 1px);
    border-radius: 3px;
}

.gh-content blockquote:not(.kg-blockquote-alt) {
    border-left: 0.2em solid var(--ghost-accent-color);
    padding-left: 1em;
}
