.gh-postfeed .post {
    display: block;
}

.gh-postfeed .post-card:nth-child(n+2) {
    border-top: 1px solid var(--color-border);
    padding-top: calc(var(--content-margin) * 2);
    margin-top: calc(var(--content-margin) * 2);
}

.gh-postfeed .post span {
    color: var(--ghost-accent-color);
    text-decoration: underline;
}

.gh-pagination {
    width: 100%;
    padding: 40px 0;
    margin: calc(var(--content-margin) * 2) auto 0;
    border-top: var(--color-border) 1px solid;
    border-bottom: var(--color-border) 1px solid;
    text-align: center;
}

.gh-pagination .newer-posts {
    margin-right: 1em;
}

.gh-pagination .older-posts {
    margin-left: 1em;
}

.gh-pagination a {
    color: var(--ghost-accent-color);
}



body.tag-template .post-card-content ol {
    list-style: none;
    padding-left: 0;
}

body.tag-template .post-card-content ol li {
    padding-left: 0;
}

body.tag-template .post-card-content ol li:nth-child(n+2) {
    margin-top: 1em;
}

body.tag-template .post-card-content li time {
    opacity: 0.5;
}

body.tag-template .post-card-content li a:not(:hover) {
    color: inherit
}
