.gh-head {
    width: 100%;
    max-width: calc(1200px + (var(--gap) * 2));
    padding-left: var(--gap);
    padding-right: var(--gap);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--content-margin);
}

.gh-head-wordmark {
    margin-right: 1em;
}

.gh-head-logo {
    display: block;
    margin-right: 1em;
}

.gh-head-logo img {
    display: block;
}

.gh-search {
    padding: 0;
    cursor: pointer;
}

.gh-search svg {
    display: block;
    stroke: var(--color-text);
}

@media (max-width: 899px) {
    .gh-head {
        padding-bottom: 1em;
        border-bottom: 1px solid var(--color-border);
        margin-bottom: var(--content-margin);
    }
}

@media (min-width: 900px) {
    .gh-head {
        margin-bottom: var(--content-margin);
    }
}

.gh-head .inner {
    position: relative;
}

@media (max-width: 899px) {
    .gh-head .inner {
        padding-right: 50px;
    }

    .gh-nav {
        margin-right: -50px;
    }
}

@media (min-width: 900px) {
    .gh-head {
        padding-top: calc(var(--gap) / 2);
        padding-bottom: calc(var(--gap) / 2);
        border-bottom: 1px solid var(--color-border);
    }

    .gh-head .inner {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        column-gap: 32px;
        line-height: 40px;
        align-items: center;
    }

    .gh-head-left {
        grid-column-start: 1;
        grid-column-end: 6;
        display: flex;
        align-items: center;
    }

    .gh-head-right {
        grid-column-start: 7;
        grid-column-end: 13;
    }
}

.gh-head h2 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 110%;
}

.gh-head-description {
    font-size: 80%;
    line-height: 1.4;
    opacity: 0.5;
}

.gh-head .nav a {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
}

@media (max-width: 899px) {
    .gh-nav {
        display: none;
        padding-bottom: 1em;
    }
}

.gh-nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
}

.gh-nav-toggle + .gh-nav-toggle-faux {
    width: 30px;
    height: 21px;
    position: absolute;
    top: 0;
    right: 0;
}

.gh-nav-toggle + .gh-nav-toggle-faux svg {
   fill: var(--color-text);
}

.gh-nav-toggle:checked + .gh-nav-toggle-faux {
    opacity: 0.5;
}

.gh-nav-toggle:checked + .gh-nav-toggle-faux + .gh-nav {
    display: block;
}

@media (min-width: 900px) {
    .gh-nav-toggle,
    .gh-nav-toggle-faux {
        display: none;
    }
}

@media (max-width: 899px) {
    .gh-head .nav {
        margin: 1em 0 0 0;
        text-align: center;
    }

    .gh-head .nav a {
        padding: 2px 0;
    }

    .gh-search {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
    }
}

@media (min-width: 900px) {
    .gh-head .nav {
        display: flex;
        justify-content: flex-end;
    }

    .gh-head .nav li:not(:first-child) {
        margin-left: 1em;
    }

    .gh-nav {
        display: flex;
        justify-content: flex-end;
    }

    .gh-search {
        margin-left: 1em;
    }
}

.gh-head .nav a {
    font-size: 80%;
    font-weight: 700;
    color: var(--color-text);
}

.gh-head .nav li.nav-current a {
    color: var(--color-text);
}

@media (max-width: 899px) {
    .gh-head .nav:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--color-border);
        margin-bottom: 1em;
        margin-left: calc(var(--gap) * -1);
        margin-right: calc(var(--gap) * -1);
    }
}

.nav-current a {}

.gh-head .nav a:hover {
    color: var(--ghost-accent-color);
}
