.gh-head {
    width: 100%;
    max-width: calc(1200px + (var(--content-margin) * 2));
    padding-left: var(--content-margin);
    padding-right: var(--content-margin);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--content-margin);
}

@media (max-width: 899px) {
    .gh-head {
        padding-bottom: 1em;
        border-bottom: 1px solid var(--color-border);
    }
}

@media (min-width: 900px) {
    .gh-head {
        margin-bottom: var(--content-margin);
    }
}

.gh-head .inner {
    position: relative;
}

@media (max-width: 899px) {
    .gh-head .inner {
        padding-right: 50px;
    }

    .gh-nav {
        margin-right: -50px;
    }
}

@media (min-width: 900px) {
    .gh-head .inner {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        column-gap: 32px;
        line-height: 40px;
    }

    .gh-head .inner:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--color-border);
    }

    .gh-head-left {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .gh-head-right {
        grid-column-start: 7;
        grid-column-end: 13;
    }
}

.gh-head h2 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-size: 110%;
}

.gh-head-description {
    font-size: 80%;
    opacity: 0.5;
}

.gh-head a {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
}

@media (max-width: 899px) {
    .gh-nav {
        display: none;
        padding-bottom: 1em;
    }
}

.gh-nav-toggle + .gh-nav-toggle-faux {
    width: 35px;
    height: 23px;
    position: absolute;
    top: 0;
    right: 0;
}

.gh-nav-toggle + .gh-nav-toggle-faux svg {
   fill: var(--color-text);
}

.gh-nav-toggle:checked + .gh-nav-toggle-faux {
    opacity: 0.25;
}

.gh-nav-toggle:checked + .gh-nav-toggle-faux + .gh-nav {
    display: block;
}

@media (min-width: 900px) {
    .gh-nav-toggle,
    .gh-nav-toggle-faux {
        display: none;
    }
}

@media (max-width: 899px) {
    .nav {
        margin: 1em 0 0 0;
    }

    .nav a {
        padding: 2px 0;
    }
}

@media (min-width: 900px) {
    .nav {
        display: flex;
        justify-content: flex-end;
    }

    .nav li:not(:first-child) {
        margin-left: 1em;
    }

    .nav a {
        font-size: 80%;
    }
}

.nav a {
    font-weight: 700;
}

.nav li:not(.nav-current) a:not(:hover) {
    opacity: 0.5;
}

@media (max-width: 899px) {
    .nav:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--color-border);
        margin-bottom: 1em;
    }

    .nav + .nav:before {
        width: 3em;
    }
}

.nav + .nav a {
    font-weight: 400;
}

.nav-current a {
    opacity: 1;
}

.nav a:hover {
    color: var(--ghost-accent-color);
}
