html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--color-background);
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
}


/* Main
/* ---------------------------------------------------------- */

main {
    flex-grow: 2;
}

.page-footer {
    width: 100%;
    margin: 100px auto 0;
    border-top: var(--color-border) 1px solid;
}

.page-footer-inner {
    padding: 40px 4vmin;
    text-align: center;
    font-size: 80%;
}

.page-footer-nav {
    --nav-margin: 1.2em;
    margin-top: var(--nav-margin);
    margin-bottom: var(--nav-margin);
}

.page-footer-nav:before,
.page-footer-nav:after {
    content: '';
    position: relative;
    display: block;
    width: 2em;
    height: 1px;
    margin: 0 auto;
    background-color: var(--color-border);
}

.page-footer-nav:before {
    margin-bottom: var(--nav-margin);
}

.page-footer-nav:after {
    margin-top: var(--nav-margin);
}

.page-footer-nav .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-footer-nav .nav li {
    margin: 0 0.5em;
}

.page-footer-ghost {
    color: var(--color-text);
}


/* Remove all animations and transitions for people that prefer not to see them
/* ------------------------------------------------------------------------- */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
