html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--color-background);
    scroll-behavior: smooth;
}


/* Main
/* ---------------------------------------------------------- */

.gh-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.gh-padded {
    padding-left: var(--margin);
    padding-right: var(--margin);
}

.gh-container.gh-padded {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
}

.page-footer {
    width: 100%;
    padding: 40px 4vmin;
    margin: 100px auto 0;
    border-top: var(--color-border) 1px solid;
    text-align: center;
    font-size: 80%;
}


/* Remove all animations and transitions for people that prefer not to see them
/* ------------------------------------------------------------------------- */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
