html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--color-background);
    scroll-behavior: smooth;
}


/* Grid
/* ---------------------------------------------------------- */

.gh-canvas {
    display: grid;
    grid-template-columns:
        [full-start]
          minmax(calc(calc(100% - 800px) / 2), 1fr)
            [wide-start]
                auto
                    [main-start]
                        600px
                    [main-end]
                auto
            [wide-end]
          minmax(calc(calc(100% - 800px) / 2), 1fr)
        [full-end]
    ;
}

@media (max-width: 800px) {
    .gh-canvas {
        grid-template-columns:
            [full-start]
            4vmin
                [wide-start]
                    0
                        [main-start]
                            auto
                        [main-end]
                    0
                [wide-end]
            4vmin
            [full-end]
        ;
    }
}


/* Main
/* ---------------------------------------------------------- */

.gh-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.gh-padded {
    padding-left: var(--margin);
    padding-right: var(--margin);
}

.gh-container.gh-padded {
    max-width: calc(600px + calc(var(--margin) * 2));
    padding-left: var(--margin);
    padding-right: var(--margin);
}

.page-footer {
    width: 100%;
    padding: 40px 4vmin;
    margin: 100px auto 0;
    border-top: var(--color-border) 1px solid;
    text-align: center;
    font-size: 80%;
}



/* Remove all animations and transitions for people that prefer not to see them
/* ------------------------------------------------------------------------- */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
