.gh-post-head .kg-image-card img {
    width: 100%;
}

.post-meta {
    display: flex;
    align-items: center;
    color: var(--color-text-alt);
    line-height: 1.4;
}

.post-meta > :not(svg) + :not(svg):before {
    content: '\2022';
    color: var(--color-text-alt);
    display: inline-block;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.post-meta .icon-lock {
    color: var(--color-lock);
}

.post-meta .icon-fire {
    color: var(--color-fire);
}

.post-meta > svg + * {
    margin-left: 0.8em;
}

.post-meta > svg + svg {
    margin-left: 0.4em;
}

.post-meta a {
    color: inherit;
}

.post-meta a:hover {
    color: var(--color-primary);
}

.post-meta .icon-lock {
    display: block;
    width: 16px;
    height: 16px;
}

.post-meta + .post-title {
    margin-top: 0.3em;
}

.post-meta .tag {
    color: var(--color-primary);
}

.post-title {
    color: var(--color-text-header);
}

.post-title a {
    color: inherit;
}

.post-title a:hover {
    color: var(--ghost-accent-color);
}

.post-excerpt {
    color: var(--color-text-alt);
    font-size: 110%;
    line-height: 1.4;
    margin-top: 0.75em;
}

.post-title + .kg-image-card,
.post-excerpt + .kg-image-card {
    margin-top: 4rem;
}

.gh-comments {
    margin-top: 3em;
}
