.post-card {}

.post-card-link {
    display: block;
    color: var(--color-text);
}

.post-card-image {
    flex-shrink: 0;
    margin-bottom: 1em;
    margin-right: 0;
}

.post-card-image img {
    width: 100%;
    display: block;
}

.post-card-image figcaption {
    text-align: center;
    font-size: 70%;
    opacity: 0.75;
    margin-top: 0.5em;
}

.post-card-text {
    flex-grow: 2;
}

.post-card-meta {
    opacity: 0.5;
}

.post-card-date {}

.post-card-meta + .post-card-title {
    margin-top: 0.3em;
}

.post-card-title {
    margin-bottom: 1em;
}

.post-card-title a {
    color: inherit;
}

.post-card-title a:hover {
    color: var(--ghost-accent-color);
}

.post-card-excerpt {
    font-family: var(--font-serif);
    opacity: 0.8;
    font-size: 110%;
    line-height: 1.6;
    margin-top: -1em;
    margin-bottom: 2em;
}

.post-card-content {}
