.gh-postfeed .post-card:nth-child(n+2) {
    border-top: 1px solid var(--color-border);
    padding-top: 2em;
    margin-top: 1.5em;
}

@media (min-width: 500px) {
    .gh-postfeed .post-card:nth-child(n+2) {
        padding-top: 3.5em;
        margin-top: 3em;
    }
}

.post-card {}

.post-card-inner {}

@media (min-width: 500px) {
    .post-card-inner {
        flex-wrap: nowrap;
    }
}

.post-card-image {
    width: 100%;
    margin-bottom: 2em;
}

.post-card-image img {
    display: block;
}

@media (min-width: 500px) {
    .post-card-image {}
}

.post-card-text {
    width: 100%;
    flex-grow: 2;
}

@media (min-width: 500px) {
    .post-card-text {}
}

.post-card-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: var(--color-text-header);
}

.post-card-excerpt {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

/* Trim the excerpt if it not explicitly defined */
.post-card.no-custom-excerpt .post-card-excerpt {
    display: -webkit-box;
    overflow-y: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.post-card a:hover .post-card-title {
    color: var(--ghost-accent-color);
}

.post-card a:hover .post-card-excerpt {
    opacity: 1;
}
