.post-meta {
    opacity: 0.5;
    line-height: 1.4;
}

.post-meta + .post-title {
    margin-top: 0.3em;
}

.post-title {
    /* margin-bottom: 1em; */
}

.post-title a {
    color: inherit;
}

.post-title a:hover {
    color: var(--ghost-accent-color);
}

.post-excerpt {
    font-family: var(--font-serif);
    opacity: 0.8;
    font-size: 110%;
    line-height: 1.6;
    margin-top: 0.75em;
    /* margin-bottom: 2em; */
}

.post-title + .kg-image-card,
.post-excerpt + .kg-image-card {
    margin-top: 4rem;
}
