/* Variables
/* ---------------------------------------------------------- */

:root {

    /* Colours */
    --color-primary: var(--ghost-accent-color);
    --color-background: #fff;
    --color-highlight: #fdffb6;
    --color-selection: #cbeafb;
    --color-selection-text: #000;
    --color-text: #273033;
    --color-text-alt: #848e95;
    --color-code-block-bg: #1a1a1a;
    --color-code-block-text: #fff;
    --color-inline-code-border: #e1eaef;
    --color-inline-code-text: #dc0050;
    --color-inline-code-bg: #f0f6f9;
    --color-bookmark-bg: #fff;
    --color-border: #e2e8ec;

    /* Fonts */
    --font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: Menlo, Courier, monospace, monospace;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;

    /* Grid */
    --gap: 3.6rem;
}

html.theme-dark {
    --color-background: #111111;
    --color-highlight: #fdffb6;
    --color-selection: #224558;
    --color-selection-text: #fff;
    --color-text: #dfdfdf;
    --color-code-block-bg: #000000;
    --color-code-block-text: #d3d3d3;
    --color-inline-code-border: #3c3c3c;
    --color-inline-code-text: #c97292;
    --color-inline-code-bg: #222222;
    --color-bookmark-bg: #222;
    --color-border: #383838;

    --color-primary: var(--custom_dark_mode_accent_color);
    --ghost-accent-color: var(--custom_dark_mode_accent_color);
}

@media (prefers-color-scheme: dark) {
    html:not(.theme-light):root {
        --color-background: #111111;
        --color-highlight: #fdffb6;
        --color-selection: #224558;
        --color-selection-text: #fff;
        --color-text: #dfdfdf;
        --color-code-block-bg: #000000;
        --color-code-block-text: #d3d3d3;
        --color-inline-code-border: #3c3c3c;
        --color-inline-code-text: #c97292;
        --color-inline-code-bg: #222222;
        --color-bookmark-bg: #222;
        --color-border: #383838;

        --color-primary: var(--custom_dark_mode_accent_color);
        --ghost-accent-color: var(--custom_dark_mode_accent_color);
    }
}

@media (max-width: 899px) {
    :root {
        --content-margin: calc(2vmin + 1em);
    }
}

@media (min-width: 900px) {
    :root {
        --content-margin: calc(4vmin + 1em);
    }
}
